* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B91547;
}

/*
*  Common
*/
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 50px 0; 
}

.card {
    background-color: #fff;
    padding: 30px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.rounded {
    border-radius: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.col {
    width: 100%;
}

/*
*  Header
*/
h1, h2 {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}


/*
*  Card form input
*/ 
#ticket-data .col {
    text-align: center;
    margin-bottom: 25px;
}

label {
    color: #B91547;
    display: block;
    margin-bottom: 15px;
}

#button-set {
    margin-top: 20px;
}

input {
    border: 2px solid #B91547;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    min-width: 210px;
}

/* rimuove frecce campo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }
/* /rimuove frecce campo number */

select {
    background-color: transparent;
    border: 2px solid #B91547;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    min-width: 210px; 
}

button { 
    color: #B91547;
    padding: 5px;
    margin: 0 20px;
    font-weight: bold;
}


/*
*  Card form details
*/ 
#ticket-details > .row > .col:first-child {
    background-color: lightgray;
}

#ticket-details > .row > .col {
    padding: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

h4 {
    font-size: bold;
}

#ticket-details > .row > .col:first-child h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
}



/*
*  Media queries
*/
@media screen and (min-width: 576px) {
    .row {
        flex-wrap: nowrap;
    }

    #ticket-data .col {
        max-width: calc(100% / 3);
        padding: 0 20px;
    }

    #ticket-details > .row > .col:first-child {
        width: 30%;
    }
}